.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: all ease-in .3s;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

button {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .navbar ul {
        margin-top: 20px;
        display: none; /* Initially hide the .navbar ul on smaller screens */
    }

    .navbar ul.show { /* Show the .navbar ul when needed */
        display: block;
    }

    .navbar ul li {
        display: block;
        margin-bottom: 10px;
    }

    button {
        display: block;
        margin-top: 20px;
    }
}
